html, body, h1, h2, h3, h4, h5, h6, input, div, button, p, a, i, header, nav, footer {
	margin:0;
	padding:0;
	border:0;
	font-family: roboto;
}
body, html {
	min-height: 100vh;
	min-width: 180px;
}
span {
	max-width: 100%;
	overflow: hidden;
}
header {
	height:500px;
	width:100%;
	overflow: hidden;
}
#header img{
	position: fixed;
	background-size: contain;
	overflow: hidden;
	min-width: 100%;
	min-height: 494px;
	height:auto;
	width: auto;
}
header p {
	position: absolute;
	margin-top: 160px;
	margin-left: 5%
}
header a img {
	width:160px;
	height: auto;
	float:left;
	z-index: 1;
	position: absolute;
	overflow: hidden;
}
header a.text{
	margin-left: 180px;
	position: absolute;
	outline: 3px;
	color:#fff;
	text-decoration: none;
	font-weight: 300;
	font-size: 50px;
	width: 400px;
	line-height: 160px;
	text-shadow: 1px 1px #000
}
.secondPic {
	min-width:100%;
	min-height: 494px;
	overflow: hidden;
	height: auto;
	z-index: -5;
	width: auto;
	display: block;
	/* TEST (looks to be working)*/
	position: absolute;
   	left: -1999px;
    right: -1999px;
  	margin:auto;

}
nav {
	margin-top: -22px;
	margin-bottom: 60px;
}
ul {
	width: 100%;
	background-color: #4CAF50;
	list-style-type: none;
	text-align: center;
	padding:19px 0 22px 0;
}
li a {
	color:#fff;
	padding:21px 40px;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
}
li a:hover {
	background-color: #388E3C
}
#schema iframe {
	width: 100%;
	height: 90vh;
}
#schema {
	margin: 0 auto;
}
#schema p {
	margin-left: 0;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}


footer {
	height:50px;
	width:100%;
	text-align:center;
	background-color: #4CAF50;
	line-height: 50px;
	color:#fff;
	font-size: 14px;
	bottom: 0;
	position: relative;
}
.content {
	width:80%;
	margin-left: 10%;
	margin-top: 60px;
	text-align: left;
	padding-bottom: 3vw;
	min-height: calc(100vh - 753px)
}
.background {
	width:100%;
	background-color: #fff;
	margin-top: -60px;
	z-index:200;
	padding-top: 10px;
}
.content h1 {
	text-align: center;
	font-weight: 300;
	font-size: 37px
}
.content h4 {
  font-weight:300;
  font-size:16px;
}
.activeTab {
	border-bottom: 3px solid #E91E63;
}



/*ProgramInfo*/
#programInfo {
	margin-top: 70px;
	width:80%;
	margin-left: 10%
}
#programInfo h1{
	font-weight: 400;
	text-align: center;
	font-size:40px;
}
#program {
	margin-top: 80px;
	column-count: 2;
	column-gap: 100px;
	text-align: center;
}
#program h2 {
	font-weight: 400;
	margin-bottom: 20px
}
#program p {
	margin-bottom: 10px;
}
#program button {
	margin-bottom: 80px;
}


/*Matsedel*/
#matsedel img {
	width: 82%;
	margin-left: 9%
}


h4 {
	width:60%;
	text-align: left;
	margin:0 auto;
	font-weight: 400;
	min-width: 200px;
}
.email {
	text-decoration: none;
}
.email:hover {
	text-decoration: underline;
}

.secondPic {
  float:left;
  min-height: 300px;
}





@media screen and (max-width: 580px) {
	#header img {
		width:auto;
		height: 295px;
	}
}

#pics {
	background-color: #fff;
	width:100%;
}
#pics img {
	width:100%;
	margin-top: 80px;
}
.white {
	width: 100%;
	background-color: #fff;
	padding-top: 50px;
	margin-top: -60px;
}
#pics h1 {
	font-size: 32px
}

#how {
	text-align: center;
}
#how h1 {
	font-weight: 400;
	font-size: 35px
}

#how h2 {
	font-weight: 300;
	font-size: 30px;
	margin: 20px 0;
}
#how h3 {
	font-size: 120px;
	font-weight:100;
	margin-bottom: 50px
}

#how img {
	width: 100%;
}





/*Inriktningar*/

#inrik {
	background-color: #fff;
}
#inrikt h1{
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: 45px
}
#inrikt h2 {
	font-weight: 300;
	margin-bottom: 25px;
	font-size: 27px
}
#inrikt .over-text {
	width: 600px;
	margin: auto;
	margin-bottom: 80px;
	font-weight: 300;
	font-size: 18px
}


.program-beskrivning {
	width:600px;
	margin: auto;
}
.back {
	width: 100%;
	background-color: #fff;
	margin-top: -60px;
}
.program-beskrivning img {
	width:50%;
	float:right;
}
.program-beskrivning p {
	font-weight: 300;
	font-size: 18px
}




/* MEDIA QUARY */
@media screen and (max-width: 960px){
  header {
    height:300px;
  }
  header a img{
    width:170px;
    margin-top: -100px
  }
  header a {
    line-height:300px;
  }
  footer {
    position:relative ! important;
  }
  #program {
	column-count: 1
  }
  header a.text {
		line-height: 0;
		margin-top: -16px;
  }
}

@media screen and (max-width: 700px) {
	nav ul li a{
		display: block;
		border-bottom: solid #388E3C 1px;
		padding: 20px 0;
		font-size: 17px;
		font-weight: 300;
		width:auto;
	}
	nav ul{
		padding: 0
	}
	header a img {
		position: absolute;
		margin-left: 29.4vw;
		width:30vw;
	}
	.content {
		width: 90vw;
		margin-left:5vw;
	}
	.content h4 {
		width: 100%
	}
	footer {
		position: absolute;
		margin-top: 100px
	}
	.activeTab {
		border-bottom: solid #388E3C 1px;
	}
	#program {
		column-count: 1
	}
	#program p {
		text-align: left;
		font-weight: 300;
		font-size: 17px
	}
	#programInfo {
		width: 100%;
		margin-left: 0;
	}
	header {
		width:100%;
	}
	header a.text {
		display: none;
	}
	#header img{
		width:200%;
		height: auto;
		min-height: auto;
		max-height: auto;
	}
	.program-beskrivning {
		width:100%;
	}
	#inrikt .over-text {
		width:100%
	}
}